# Supermarket Sales Data Basic ETL and Pipeline Creation
##### by Harmon Tuazon

Tool/Language Stack:
1. Python
2. SQL (PostgreSQL)
3. PowerBI 

The following attributes/columns needed cleaning due to formatting issues:

1. Invoice ID
2. Tax 5%
3. Total
4. Date
5. Cost of Goods Sold (COGs)

In [14]:
#Importing the necessary packages for file manipulation and data cleaning
import pandas as pd

First we will open the file in the CSV and preview how the dataset looks like

In [15]:
#Declaring the file path of the CSV
INFILE = r"C:\Users\harmo\OneDrive\Desktop\SuperMarket Data Basic ETL Project\supermarket_sales - Sheet1.csv"

#Converting csv to dataframe
sales_df = pd.read_csv(INFILE, index_col="Invoice ID")    
sales_df

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,cogs,Rating
Invoice ID,,,,,,,,,,,,
750-67-8428,A,Yangon,Member,Female,Health and beauty,78.4245,7,1/5/2019,13:08,Ewallet,522.83,9.1
226-31-3081,C,Naypyitaw,Normal,Female,Electronic accessories,16.0440,5,3/8/2019,10:29,Cash,76.40,9.6
631-41-3108,A,Yangon,Normal,Male,Home and lifestyle,48.6465,7,3/3/2019,13:23,Credit card,324.31,7.4
123-19-1176,A,Yangon,Member,Male,Health and beauty,61.1310,8,1/27/2019,20:33,Ewallet,465.76,8.4
373-73-7910,A,Yangon,Normal,Male,Sports and travel,90.6255,7,2/8/2019,10:37,Ewallet,604.17,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...
233-67-5758,C,Naypyitaw,Normal,Male,Health and beauty,42.3675,1,1/29/2019,13:46,Ewallet,40.35,6.2
303-96-2227,B,Mandalay,Normal,Female,Home and lifestyle,102.2490,10,3/2/2019,17:16,Ewallet,973.80,4.4
727-02-1313,A,Yangon,Member,Male,Food and beverages,33.4320,1,2/9/2019,13:22,Cash,31.84,7.7
347-56-2442,A,Yangon,Normal,Male,Home and lifestyle,69.1110,1,2/22/2019,15:33,Cash,65.82,4.1
849-09-3807,A,Yangon,Member,Female,Fashion accessories,92.7570,7,2/18/2019,13:28,Cash,618.38,6.6

In [16]:
#Checking the datatypes of each column to see if any changes need to be made
sales_df.dtypes

Branch            object
City              object
Customer type     object
Gender            object
Product line      object
Unit price       float64
Quantity           int64
Date              object
Time              object
Payment           object
cogs             float64
Rating           float64
dtype: object

In [18]:
#First I will remove the "-" (dash) character in the index 
sales_df.index = sales_df.index.str.replace('-', '', regex=False)

#Second I will round Unit price to 2 decimal places to match currency format
sales_df["Unit price"] = sales_df["Unit price"].round(2)

#Third I will convert columns into flags 
sales_df["Customer type"] = sales_df["Customer type"].apply(lambda x: 1 if x == "Member" else 0)

#printing to see new format
sales_df

,Branch,City,Customer type,Gender,Product line,Unit price,Quantity,Date,Time,Payment,cogs,Rating
Invoice ID,,,,,,,,,,,,
750678428,A,Yangon,1,Female,Health and beauty,78.42,7,1/5/2019,13:08,Ewallet,522.83,9.1
226313081,C,Naypyitaw,0,Female,Electronic accessories,16.04,5,3/8/2019,10:29,Cash,76.40,9.6
631413108,A,Yangon,0,Male,Home and lifestyle,48.65,7,3/3/2019,13:23,Credit card,324.31,7.4
123191176,A,Yangon,1,Male,Health and beauty,61.13,8,1/27/2019,20:33,Ewallet,465.76,8.4
373737910,A,Yangon,0,Male,Sports and travel,90.63,7,2/8/2019,10:37,Ewallet,604.17,5.3
...,...,...,...,...,...,...,...,...,...,...,...,...
233675758,C,Naypyitaw,0,Male,Health and beauty,42.37,1,1/29/2019,13:46,Ewallet,40.35,6.2
303962227,B,Mandalay,0,Female,Home and lifestyle,102.25,10,3/2/2019,17:16,Ewallet,973.80,4.4
727021313,A,Yangon,1,Male,Food and beverages,33.43,1,2/9/2019,13:22,Cash,31.84,7.7
347562442,A,Yangon,0,Male,Home and lifestyle,69.11,1,2/22/2019,15:33,Cash,65.82,4.1
849093807,A,Yangon,1,Female,Fashion accessories,92.76,7,2/18/2019,13:28,Cash,618.38,6.6

In [19]:
#add total column
sales_df["Total Sale"] = sales_df["Unit price"] * sales_df["Quantity"]
#add gross margin and grate rate